:root {
	--html-background-color: #f6f6f6;
	--body-background-color: rgba(220, 221, 222, 0.3);
	--primary-color: #000;
	--header-background-color: #36393f;
	--footer-background-color: #36393f;
	--header-h1-color: #f0e8e8;
	--nav-background-color: #5865f2;
	--nav-h2-color: #f0e8e8;
	--card-background-color: #fdfdfd;
	--card-border-color: rgba(220, 221, 222, 0.3);
	--card-h1-color: #2c2f33;
	--card-h2-color: #36393f;
	--label-color: #36393f;

	/* invalid-colors */
	--invalid-background-color: #ecf0fe;
	--invalid-color: #8a8c97;

	--background-color-input: #fff;
	--dropdown-list-selected-color: #fefefe;
	--dropdown-list-selected-background-color: #5667a4;
	--dropdown-list-color: #2c2f33;
	--dropdown-list-background-color: #fefefe;
	--dropdown-list-background-color-hover: #e2e8ff;
	--dropdown-list-border: #c8d2ff;

	/* buttons-general-colors */
	--button-border-unfocused: #8d99ae;
	--button-border-focused: #2b2d42;
	--button-enabled-background-color: #4a58f0;
	--button-enabled-color: #f6f6f6;
	--button-enabled-hover-background-color: #6872e8;
	--button-disabled-background-color: #ecf0fe;
	--button-disabled-color: #8a8c97;

	--statistics-accent-color: #5865f2;
	--p-color: #36393f;
	--footer-p-color: #f0e8e8;

	--custom-data-card-background-color: #e6e6ea;
	--custom-data-title-background-color: #5eca80;
	--custom-data-title-color: #36393f;

	/* input fields - colors */
	--input-field-background-color: #e6e6ea;
	--input-field-color: #262a32;

	--placeholder-color: #8a8c97;
	--dropdown-arrow-color: #000;

	--item-card-separator-color: #2c2f33;

	/* spinner-buttons-colors */
	--spinner-button-background-color: #444850;
	--spinner-button-color: #f0e8e8;
}

.dark {
	--html-background-color: #23272a;
	--body-background-color: #2c2f33;
	--primary-color: #fff;
	--header-background-color: #36393f;
	--footer-background-color: #36393f;
	--header-h1-color: #f0e8e8;
	--nav-background-color: #6c76e2;
	--nav-h2-color: #f0e8e8;
	--card-background-color: #4a4e54;
	--card-border-color: #4a4e54;
	--card-h1-color: #faf2f2;
	--card-h2-color: #faf2f2;
	--label-color: #fff;

	/* invalid-colors */
	--invalid-background-color: #3c424a;
	--ivalid-color: #8b8d8f;

	--background-color-input: #fff;
	--dropdown-list-selected-color: #fefefe;
	--dropdown-list-selected-background-color: #585c86;
	--dropdown-list-background-color: #2c2f33;
	--dropdown-list-color: #ddd;
	--dropdown-list-background-color-hover: #3c424a;
	--dropdown-list-border: #2c2f33;

	/* buttons-general-colors */
	--button-border-unfocused: #eee;
	--button-border-focused: #fff;
	--button-enabled-background-color: #6c76e2;
	--button-enabled-color: #fff;
	--button-enabled-hover-background-color: #4c58e4;
	--button-disabled-background-color: #3c424a;
	--button-disabled-color: #8b8d8f;

	--statistics-accent-color: #53e680;
	--p-color: #f0e8e8;
	--footer-p-color: #f0e8e8;

	--custom-data-card-background-color: #2c2f33;
	--custom-data-title-background-color: #50bc72;
	--custom-data-title-color: #36393f;

	/* input-fields-color */
	--input-field-background-color: #23272a;
	--input-field-color: #f0e8e8;

	--placeholder-color: #8a8c97;
	--dropdown-arrow-color: #f0e8e8;
	--item-card-separator-color: #7289da;

	/* spinner-buttons-colors */
	--spinner-button-background-color: #ed4245;
	--spinner-button-color: #f0e8e8;
}
