/* || General styles */
@import url("./custom-variables.css");

/* Scrollbar styles */
/* Works on Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: var(--scrollbar-thumb-color)
		var(--scrollbar-background-color); /* scroll thumb and track */
	scroll-snap-type: proximity;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--scrollbar-background-color);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border: 3px solid var(--scrollbar-border-color);
}

html {
	font-family: "Merriweather Sans", sans-serif;
	background-color: var(--html-background-color);
	color: var(--primary-color);
}

body {
	font-family: "Merriweather Sans", sans-serif;
	font-size: 10px;
	box-sizing: border-box;
	line-height: 28px;
	font-smooth: allways;
	background-color: var(--body-background-color);
	color: var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

header {
	margin: 0;
	width: 100%;
	height: 4rem;
	height: 6rem;
	background-color: var(--header-background-color);
	padding: 0;
	margin-block-end: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

header h1 {
	display: inline-block;
	margin: 0;
	padding: 0 0 0 2rem;
	font-family: "Grape Nuts", cursive;
	font-size: 1.8rem;
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--header-h1-color);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 4.2rem;
	background-color: var(--nav-background-color);
	position: sticky;
	top: 0;
	z-index: +2;
}

nav h2 {
	padding: 0 0 0 1.8rem;
	font-size: 1.3rem;
	font-weight: 300;
	letter-spacing: 0.5px;
	word-spacing: 0.5rem;
	color: var(--nav-h2-color);
}

#theme-button {
	appearance: none;
	display: flex;
	background: transparent;
	margin: 0 1.8rem 0 0;
	padding: 1.4rem 0.7rem;
	height: 2.4rem;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	border-radius: 1.3rem;
	background-color: #36393f;
	background-color: #3c424a;
	background-color: transparent;
	color: #f0e8e8;
	cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
	#theme-button:hover {
		background-color: #5c6268;
		border: 1px solid #5c6268;
		color: #fff;
	}
}

#light-theme-icon,
#dark-theme-icon {
	height: 2rem;
}

#theme-button p {
	margin: 0 0 0 0.3rem;
	font-size: 1.2rem;
	font-weight: 300;
}

#theme {
	display: none;
}

.main {
	display: block;
	margin: 1rem 0;
	width: 95%;
}

a {
	text-decoration: none;
}

.data-input-wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	gap: 1rem;
}

main h1 {
	font-family: "Merriweather Sans", sans-serif;
	font-size: 4em;
	font-weight: Bold;
	line-height: 1em;
	color: var(--card-h1-color);
	margin: 0;
	padding: 0;
}

/* || Styling card */

.card {
	max-width: 30rem;
	margin: 0.1rem 0.1rem 2.1rem 0.1rem;
	padding: 2.3rem 1.9rem 1.9rem 1.9rem;
	border-radius: 0.3rem;
	background-color: var(--card-background-color);
	border: 1px solid var(--card-border-color);
	border: none;
	/* box-shadow: 0 10px 6px -6px #777; */
	/* box-shadow: 0 2px 4px 0 rgba(119, 119, 119, 0.2),
		0 2.5rem 5rem 0 rgba(119, 119, 119, 0.1); */
}

.card h1 {
	font-size: 1.9rem;
	font-weight: 500;
	word-spacing: 0.7rem;
	color: var(--card-h1-color);
}

.card h2 {
	font-weight: 400;
	font-size: 1.3rem;
	color: var(--card-h2-color);
	padding-block-end: 0.4rem;
	border-block-end: 1px solid var(--statistics-accent-color);
}

.card p {
	font-size: 1rem;
	word-spacing: 0.3rem;
}

.dropdown-list {
	appearance: none;
	margin: 0;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	background-color: var(--dropdown-list-background-color);
	color: var(--dropdown-list-color);
	/* border: 2px solid var(--dropdown-list-border-color); */
	border-radius: 0;
	padding: 1rem 1.5rem;
	z-index: +1;
	overflow-x: hidden;
	/* Prevent background color leak outs */
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

/* || Styling Sales-form card */
.dropdown-sale {
	top: 8.9rem;
	height: 17.5rem;
	box-sizing: border-box;
}

input {
	background-color: var(--input-field-background-color);
	color: var(--input-field-color);
	border: 1.1px solid var(--input-border-unfocused);
	border: none;
	border-radius: 0.3rem;
	width: 100%;
	box-sizing: border-box;
	height: 3.3rem;
	font-size: 1rem;
	font-weight: 300;
	padding-inline-start: 1rem;
}

/* hiding arrows for the input fields with type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"]:invalid {
	background-color: var(--invalid-background-color);
	color: var(--invalid-color);
}

input[type="number"]:valid {
	background-color: var(--input-field-background-color);
	color: var(--input-field-color);
}

input[type="radio"]:checked + label {
	background-color: var(--dropdown-list-selected-background-color);
	color: var(--dropdown-list-selected-color);
	border-radius: 0.3rem;
}

input[type="number"]::placeholder {
	color: var(--placeholder-color);
	opacity: 1;
}

*:focus {
	outline: none;
}

label {
	font-family: "Merriweather Sans", sans-serif;
	display: block;
	font-size: 1rem;
	padding: 2rem 0 0.6rem;
	color: var(--label-color);
	margin: 0.5rem 0;
}

.select-group {
	position: relative;
}

#sale-food-label {
	font-family: "Merriweather Sans", sans-serif;
	font-size: 1rem;
	color: var(--invalid-color);
}

.arrow {
	border: solid var(--dropdown-arrow-color);
	height: 0.3rem;
	width: 0.3rem;
	border-width: 0 1.5px 1.5px 0;
	padding: 1px;
	transform: rotate(45deg);
}

.rotate-arrow {
	border-width: 1.5px 0 0 1.5px;
	transform: rotate(45deg);
}

.option {
	display: none;
}

.select-item {
	display: block;
	padding: 1rem;
	font-weight: 400;
	background-color: var(--dropdown-list-background-color);
	background-color: transparent;
	color: var(--dropdown-list-color);
}

.select-item:hover {
	border-radius: 0.3rem;
	background-color: var(--dropdown-list-background-color-hover);
	cursor: pointer;
}

/* || Styling Statistics card */

.statistics-card {
	/* display: block; */
	/* max-width: 30rem; */
	margin-bottom: 0;
}

#statistics-card {
	display: block;
	margin-block-start: 3.2rem;
}

.sales-card {
	border-radius: 0.3rem;
	margin-bottom: 3rem;
}

#sales-custom {
	margin-bottom: 0;
}

/* - All time  */

.item-card {
	display: flex;
	align-items: center;
}

.item-card p {
	font-size: 1.1rem;
	color: var(--p-color);
	font-weight: 300;
	position: relative;
}

.item-card :nth-child(1) {
	left: 0;
	min-width: 35%;
	max-width: 35%;
	border-inline-end: 1px solid var(--item-card-separator-color);
	padding-inline-end: 1.5rem;
}

.item-card :nth-child(2) {
	left: 4%;
	min-width: 40%;
	max-width: 40%;
	padding-inline-start: 1rem;
}

/* - Custom statistics */

.custom-stats-btn-area {
	display: grid;
	grid-template-columns: 1fr 1.6fr 1.7fr;
	gap: 0.4rem;
	position: relative;
}

.custom-stats-btn-area span {
	font-size: 0.8rem;
}

.dropdown-stats {
	top: 0.5rem;
	height: 13rem;
	z-index: +1;
	padding: 0.8rem 1.5rem;
}

.custom-data-card {
	background-color: var(--custom-data-card-background-color);
	border: none;
	border-radius: 0.4rem 0.4rem 0.3rem 0.3rem;
	margin-block-start: 2rem;
	padding: 0;
}

.custom-data-title {
	border-radius: 0.3rem 0.3rem 0 0;
	background-color: var(--custom-data-title-background-color);
	color: var(--custom-data-title-color);
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	margin: 0;
}

.custom-data-title h2 {
	margin: 0;
	padding: 0;
	color: var(--custom-data-title-color);
	font-size: 0.9rem;
	word-spacing: 0.3rem;
	border: none;
}

.custom-data-results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 5rem;
}

.custom-data-results .item-card :nth-child(1) {
	margin-inline-start: 1rem;
	font-size: 0.9rem;
	min-width: 39%;
	max-width: 39%;
}

.custom-data-results .item-card :nth-child(2) {
	font-size: 1rem;
	color: var(--statistics-accent-color);
	padding-inline-start: 0;
}

footer {
	margin: 0;
	width: 100%;
	height: 3rem;
	background-color: var(--footer-background-color);
	padding: 0;
	margin-block-end: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	font-weight: 200;
}

footer p {
	color: var(--footer-p-color);
}

footer span {
	font-size: 1rem;
	font-family: "Grape Nuts", cursive;
	letter-spacing: 1px;
}

#copywright-year {
	font-family: "Merriweather Sans", sans-serif;
	font-size: 0.7rem;
}

/* || Responsive design settings */
@media (min-width: 600px) {
	#theme {
		display: block;
	}

	#theme-button {
		border: 1px solid #cec6c6;
		border-radius: 0.3rem;

		/* Prevent background color leak outs */
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}

	.main {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 3rem 0 0 0;
	}

	.card {
		width: 70%;
		margin: 0.1rem 0.1rem 3rem 0.1rem;
	}

	.custom-stats-btn-area .button {
		padding: 1rem;
	}

	footer {
		height: 4rem;
	}
}

@media (min-width: 1050px) {
	body {
		width: 65%;
		margin: auto;
	}

	footer {
		height: 5rem;
	}
}

@media (min-width: 1500px) {
	body {
		width: 45%;
	}
}
