@import url("../custom-variables.css");

.show-buttons-layout {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.button {
	appearance: none;
	font-family: "Merriweather Sans", sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.3rem;
	width: 100%;
	background-color: var(--button-disabled-background-color);
	color: var(--button-disabled-color);
	border: none;
	border-radius: 0.3rem;
	position: relative;
	font-size: 1rem;
	word-spacing: 0.3rem;
	font-weight: 300;
	padding-inline-start: 1rem;
	padding-inline-end: 1rem;
	cursor: pointer;
	text-align: center;
}

.button:disabled {
	background-color: var(--button-disabled-background-color);
	color: var(--button-disabled-color);
}

.button:disabled:hover {
	background-color: var(--button-disabled-background-color);
	color: var(--button-disabled-color);
}

.button:active {
	appearance: none;
}

.btn-enabled {
	background-color: var(--button-enabled-background-color);
	border: none;
	color: var(--button-enabled-color);
}

.addSevenRem {
	margin-top: 7rem;
}

#sale-food-btn {
	background-color: var(--invalid-background-color);
	color: var(--invalid-color);
}

.dropdown-btn {
	background-color: var(--input-field-background-color);
	color: var(--input-field-color);
}

.submit-btn {
	width: 65%;
	height: 3.7rem;
	margin-top: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.3rem;
	font-weight: 400;
}

.reset-btn {
	width: 30%;
	font-weight: 400;
}

.reset-btn,
.submit-btn {
	transition: 0.2s;
}

.custom-stats-btn-area .button {
	padding: 0.5rem;
}

.submit-btn:focus,
.reset-btn:focus {
	outline: none;
	background-color: var(--button-enabled-background-color);
	border: none;
}

.submit-btn:hover,
.reset-btn:hover {
	background-color: var(--button-enabled-hover-background-color);
	border: none;
	color: #fff;
}

/* Spinner buttons */
.spinnerBtn {
	justify-content: center;
	background-color: var(--spinner-button-background-color);
	border: none;
	font-size: 2rem;
	font-weight: 400;
	color: var(--spinner-button-color);
	transition: 0.2s;
}

.spinnerBtn:hover {
	border: none;
}

.spinnerBtn:active {
	background-color: #8a8c97;
	border: none;
	color: #2c2f33;
}

.spinnerBtn:focus {
	outline: none;
	border: none;
}
