.show-buttons-layout {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.button {
	appearance: none;
	font-family: "Merriweather Sans", sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.3rem;
	width: 100%;
	background-color: #8d99ae;
	border: 1.1px solid #8d99ae;
	border-radius: 0.3rem;
	color: #fff;
	position: relative;
	font-size: 1rem;
	word-spacing: 0.3rem;
	font-weight: 300;
	padding-inline-start: 1rem;
	padding-inline-end: 1rem;
	cursor: pointer;
	text-align: center;
}

.button:active {
	background-color: #8a8c97;
	border: 1px solid #8a8c97;
	color: #2b2d42;
	transition: 0s;
}

.btn-enabled {
	background-color: #2b2c42;
	border: 1.1px solid #2b2c42;
}

.addSevenRem {
	margin-top: 7rem;
}

.btn-disabled {
	background-color: #8d99ae;
}

#sale-food-btn {
	background-color: rgba(239, 35, 60, 0.2);
}

.dropdown-btn {
	background-color: #fefefe;
	color: #2b2d42;
}

.submit-btn {
	width: 65%;
	height: 3.7rem;
	margin-top: 1.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.3rem;
	font-weight: 400;
}

.reset-btn {
	width: 30%;
	font-weight: 400;
}

.reset-btn,
.submit-btn {
	transition: 0.8s;
}

.custom-stats-btn-area .button {
	padding: 0.5rem;
}

.submit-btn:focus,
.reset-btn:focus {
	outline: none;
	background-color: #2b2c42;
}

.submit-btn:hover,
.reset-btn:hover {
	background-color: #363852;
	border: 1px solid #363852;
	color: #fff;
}

/* Spinner buttons */
.spinnerBtn {
	justify-content: center;
	background-color: #2b2c42;
	border: 1.1px solid #2b2c42;
	font-size: 2rem;
	font-weight: 400;
	color: #fff;
	transition: 0.6s;
}

.spinnerBtn:active {
	background-color: #8a8c97;
	border: 1px solid #8a8c97;
	color: #2b2d42;
}
